@import 'tailwindcss';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root[data-theme='light'] {
  /* @theme { */
  --color-text-50: #eaeffb;
  --color-text-100: #d4e0f7;
  --color-text-200: #a9c0ef;
  --color-text-300: #7ea1e7;
  --color-text-400: #5482de;
  --color-text-500: #2963d6;
  --color-text-600: #214fab;
  --color-text-700: #183b81;
  --color-text-800: #102756;
  --color-text-900: #08142b;
  --color-text-950: #040a15;

  --color-background-50: #eaeffb;
  --color-background-100: #d4dff7;
  --color-background-200: #aabeee;
  --color-background-300: #7f9ee6;
  --color-background-400: #557edd;
  --color-background-500: #2a5dd5;
  --color-background-600: #224baa;
  --color-background-700: #193880;
  --color-background-800: #112555;
  --color-background-900: #08132b;
  --color-background-950: #040915;

  --color-primary-50: #fff6e5;
  --color-primary-100: #ffedcc;
  --color-primary-200: #ffdb99;
  --color-primary-300: #ffc966;
  --color-primary-400: #ffb833;
  --color-primary-500: #ffa600;
  --color-primary-600: #cc8500;
  --color-primary-700: #996300;
  --color-primary-800: #664200;
  --color-primary-900: #332100;
  --color-primary-950: #1a1100;

  --color-secondary-50: #f2f2f2;
  --color-secondary-100: #e6e6e6;
  --color-secondary-200: #cccccc;
  --color-secondary-300: #b3b3b3;
  --color-secondary-400: #999999;
  --color-secondary-500: #808080;
  --color-secondary-600: #666666;
  --color-secondary-700: #4d4d4d;
  --color-secondary-800: #333333;
  --color-secondary-900: #1a1a1a;
  --color-secondary-950: #0d0d0d;

  --color-accent-50: #fbeee9;
  --color-accent-100: #f7ddd4;
  --color-accent-200: #efbaa9;
  --color-accent-300: #e7987e;
  --color-accent-400: #df7653;
  --color-accent-500: #d75428;
  --color-accent-600: #ac4320;
  --color-accent-700: #813218;
  --color-accent-800: #562110;
  --color-accent-900: #2b1108;
  --color-accent-950: #160804;
}

:root[data-theme='dark'] {
  --color-text-50: #040a15;
  --color-text-100: #08142b;
  --color-text-200: #102756;
  --color-text-300: #183b81;
  --color-text-400: #214fab;
  --color-text-500: #2963d6;
  --color-text-600: #5482de;
  --color-text-700: #7ea1e7;
  --color-text-800: #a9c0ef;
  --color-text-900: #d4e0f7;
  --color-text-950: #eaeffb;

  --color-background-50: #040a15;
  --color-background-100: #09132a;
  --color-background-200: #112755;
  --color-background-300: #1a3a7f;
  --color-background-400: #234da9;
  --color-background-500: #2b61d4;
  --color-background-600: #5680dc;
  --color-background-700: #80a0e5;
  --color-background-800: #aac0ee;
  --color-background-900: #d5dff6;
  --color-background-950: #eaeffb;

  --color-primary-50: #1a1100;
  --color-primary-100: #332100;
  --color-primary-200: #664200;
  --color-primary-300: #996300;
  --color-primary-400: #cc8500;
  --color-primary-500: #ffa600;
  --color-primary-600: #ffb833;
  --color-primary-700: #ffc966;
  --color-primary-800: #ffdb99;
  --color-primary-900: #ffedcc;
  --color-primary-950: #fff6e5;

  --color-secondary-50: #0d0d0d;
  --color-secondary-100: #1a1a1a;
  --color-secondary-200: #333333;
  --color-secondary-300: #4d4d4d;
  --color-secondary-400: #666666;
  --color-secondary-500: #808080;
  --color-secondary-600: #999999;
  --color-secondary-700: #b3b3b3;
  --color-secondary-800: #cccccc;
  --color-secondary-900: #e6e6e6;
  --color-secondary-950: #f2f2f2;

  --color-accent-50: #160804;
  --color-accent-100: #2b1108;
  --color-accent-200: #562110;
  --color-accent-300: #813218;
  --color-accent-400: #ac4320;
  --color-accent-500: #d75428;
  --color-accent-600: #df7653;
  --color-accent-700: #e7987e;
  --color-accent-800: #efbaa9;
  --color-accent-900: #f7ddd4;
  --color-accent-950: #fbeee9;
}

/* Pastel */
:root[data-theme='light-pastel'] {
  --color-text-50: #f2f2f2;
  --color-text-100: #e6e6e6;
  --color-text-200: #cccccc;
  --color-text-300: #b3b3b3;
  --color-text-400: #999999;
  --color-text-500: #808080;
  --color-text-600: #666666;
  --color-text-700: #4d4d4d;
  --color-text-800: #333333;
  --color-text-900: #1a1a1a;
  --color-text-950: #0d0d0d;

  --color-background-50: #eef2f6;
  --color-background-100: #dee5ed;
  --color-background-200: #bdcbdb;
  --color-background-300: #9cb2c9;
  --color-background-400: #7a98b8;
  --color-background-500: #597ea6;
  --color-background-600: #476585;
  --color-background-700: #364c63;
  --color-background-800: #243242;
  --color-background-900: #121921;
  --color-background-950: #090d11;

  --color-primary-50: #fef5e7;
  --color-primary-100: #fcebcf;
  --color-primary-200: #fad79e;
  --color-primary-300: #f7c36e;
  --color-primary-400: #f5ae3d;
  --color-primary-500: #f29a0d;
  --color-primary-600: #c27b0a;
  --color-primary-700: #915d08;
  --color-primary-800: #613e05;
  --color-primary-900: #301f03;
  --color-primary-950: #180f01;

  --color-secondary-50: #fff9e5;
  --color-secondary-100: #fff4cc;
  --color-secondary-200: #ffe999;
  --color-secondary-300: #ffde66;
  --color-secondary-400: #ffd333;
  --color-secondary-500: #ffc800;
  --color-secondary-600: #cca000;
  --color-secondary-700: #997800;
  --color-secondary-800: #665000;
  --color-secondary-900: #332800;
  --color-secondary-950: #1a1400;

  --color-accent-50: #fff3e5;
  --color-accent-100: #ffe6cc;
  --color-accent-200: #ffce99;
  --color-accent-300: #ffb566;
  --color-accent-400: #ff9c33;
  --color-accent-500: #ff8400;
  --color-accent-600: #cc6900;
  --color-accent-700: #994f00;
  --color-accent-800: #663500;
  --color-accent-900: #331a00;
  --color-accent-950: #1a0d00;
}
/* :root[data-theme='dark-pastel'] { */
@theme {
  --color-text-50: #0d0d0d;
  --color-text-100: #1a1a1a;
  --color-text-200: #333333;
  --color-text-300: #4d4d4d;
  --color-text-400: #666666;
  --color-text-500: #808080;
  --color-text-600: #999999;
  --color-text-700: #b3b3b3;
  --color-text-800: #cccccc;
  --color-text-900: #e6e6e6;
  --color-text-950: #f2f2f2;

  --color-background-50: #090d11;
  --color-background-100: #121921;
  --color-background-200: #243242;
  --color-background-300: #364c63;
  --color-background-400: #476585;
  --color-background-500: #597ea6;
  --color-background-600: #7a98b8;
  --color-background-700: #9cb2c9;
  --color-background-800: #bdcbdb;
  --color-background-900: #dee5ed;
  --color-background-950: #eef2f6;

  --color-primary-50: #180f01;
  --color-primary-100: #301f03;
  --color-primary-200: #613e05;
  --color-primary-300: #915d08;
  --color-primary-400: #c27b0a;
  --color-primary-500: #f29a0d;
  --color-primary-600: #f5ae3d;
  --color-primary-700: #f7c36e;
  --color-primary-800: #fad79e;
  --color-primary-900: #fcebcf;
  --color-primary-950: #fef5e7;

  --color-secondary-50: #1a1400;
  --color-secondary-100: #332800;
  --color-secondary-200: #665000;
  --color-secondary-300: #997800;
  --color-secondary-400: #cca000;
  --color-secondary-500: #ffc800;
  --color-secondary-600: #ffd333;
  --color-secondary-700: #ffde66;
  --color-secondary-800: #ffe999;
  --color-secondary-900: #fff4cc;
  --color-secondary-950: #fff9e5;

  --color-accent-50: #1a0d00;
  --color-accent-100: #331a00;
  --color-accent-200: #663500;
  --color-accent-300: #994f00;
  --color-accent-400: #cc6900;
  --color-accent-500: #ff8400;
  --color-accent-600: #ff9c33;
  --color-accent-700: #ffb566;
  --color-accent-800: #ffce99;
  --color-accent-900: #ffe6cc;
  --color-accent-950: #fff3e5;
}
